.heading{
    color:blue;
    background-color: rgb(196, 13, 13);
}
body{
    background-color:yellowgreen;
}

#box{

    height: 400px;
    width: 400px;
    color: orange;
    background-color:rosybrown;
    border: 1px solid black;
}
div{

    height: 100px;
    width: 100px;
    background-color:orange;
    color: white;
    border: 1px solid black;
}